<ng-container *ngIf="form">
  <div class="phl" [formGroup]="form">
    <h1>Gravity Settings</h1>
    <div class="mbxl">
      <mat-slide-toggle formControlName="gravity_on">Enable Gravity</mat-slide-toggle>
    </div>
    <div class="mbxl">
      <mat-form-field color="accent">
        <mat-label>Gravity Model</mat-label>
        <mat-select
          [disableControl]="!gravityOn"
          formControlName="gravity_model"
          name="gravityModel"
          placeholder="Gravity Model"
        >
          <mat-option *ngFor="let option of gravityModelOptions" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div [ngClass]="{'fan--hidden': !gravityOn || !customGravity}">
      <file-path label="Custom Gravity Filepath" [disabled]="!gravityOn || !customGravity" controlName="custom_gravity_file_path"></file-path>
    </div>
  </div>
</ng-container>
