<ng-container *ngIf="form">
  <div class="phl" [formGroup]="form">
    <div class="flex">
      <div class="body-column">
        <h1>Metadata General Settings</h1>

        <!-- Parent Object -->
        <div class="mbxl">
          <mat-form-field color="accent" class="fan__input">
            <mat-label>Parent Object</mat-label>
            <mat-select
              formControlName="parent_object"
              name="parent_object"
              placeholder="Parent Object"
            >
              <mat-option *ngFor="let option of parentObjectOptions" [value]="option.value" [disabled]="option.id === objectId">
                {{option.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Solver -->
        <div class="mbxl">
          <mat-form-field color="accent" class="fan__input">
            <mat-label>Solver</mat-label>
            <mat-select
              formControlName="solver"
              name="solver"
              placeholder="Solver"
            >
              <mat-option *ngFor="let option of solverOptions" [value]="option.value">
                {{option.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Allow 6 DOF -->
        <div class="mbxl">
          <mat-slide-toggle formControlName="allow_six_dof">Allow 6 DOF</mat-slide-toggle>
          <mat-hint class="toggle-hint">Enable if this object will fly in 6-DOF in any segment.</mat-hint>
        </div>

        <!-- Hold Down -->
        <div class="mbxl">
          <mat-slide-toggle formControlName="hold_down">Hold Down</mat-slide-toggle>
        </div>

        <!-- Local Environment -->
        <div class="mbxl">
          <mat-form-field color="accent" class="fan__input">
            <mat-label>Local Environment</mat-label>
            <mat-select
              formControlName="local_environment"
              name="local_environment"
              placeholder="Local Environment"
            >
              <mat-option *ngFor="let option of localEnvOptions" [value]="option.value">
                {{option.viewValue}}
              </mat-option>
            </mat-select>
            <mat-hint>This is a required field. Create an environment if this list is empty.</mat-hint>
          </mat-form-field>
        </div>

      </div>
    </div>
  </div>
</ng-container>

