<ng-container *ngIf="form">
  <div class="phl" [formGroup]="form">
    <h1>Wind Settings</h1>
    <div class="mbxl">
      <mat-slide-toggle formControlName="wind_on">Enable Wind</mat-slide-toggle>
    </div>
    <div>
      <mat-form-field color="accent">
        <mat-label>Wind Profile</mat-label>
        <mat-select
          [disableControl]="!windOn"
          formControlName="wind_profile"
          name="windProfile"
          placeholder="Wind Profile"
        >
          <mat-option *ngFor="let option of windProfileOptions" [value]="option.value">
            {{option.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div [ngClass]="{'fan--hidden': !windOn || !customWind}">
      <input-table [columns]="columns" depName="Altitude [m]" [rows]="form.get('rows')">
        <div instructions class="pal white">
          <h2>Instructions</h2>
          <p>
            Copy data from a spreadsheet and paste into this input.<br>
            Table data will be reset with each new input.
          </p>
          <p>Input expects 4 columns and at least 1 row.</p>
          <p>Numbers must be formatted to exact precision.</p>
          <p>
            <strong>EX:</strong><br>
            45<br>
            17.234<br>
            1.26567543E+10
          </p>
        </div>
      </input-table>
    </div>
  </div>
</ng-container>
