<div class="simpleTile__content" [class]="panelClass" [ngClass]="{ 'selected': selected }">
  <ng-container *ngIf="!nameEditMode; else editMode">
    <span (click)="$event.stopPropagation()" (dblclick)="onRenameClick()">{{name}}</span>
    <span>
      <button mat-icon-button [matMenuTriggerFor]="itemContextMenu" (click)="$event.stopPropagation()"><mat-icon>more_vert</mat-icon></button>
    </span>
  </ng-container>
</div>

<mat-menu #itemContextMenu="matMenu">
  <button mat-menu-item (click)="onRenameClick()">Rename</button>
  <button mat-menu-item (click)="onDuplicateClick()">Duplicate</button>
  <button mat-menu-item color="warn" (click)="onDeleteClick()">Delete</button>
</mat-menu>

<ng-template #editMode>
  <div>
    <input 
      #name
      class="simpleTile__nameControl" 
      [formControl]="nameControl"
      (click)="$event.stopPropagation()"
      (keydown.enter)="updateName()"
      type="text"
      onfocus="this.select()"
      (focusout)="editNameCancel()"
    />
  </div>
  <div>
    <button mat-icon-button color="accent" (click)="updateName(); $event.stopPropagation()"><mat-icon>check</mat-icon></button>
    <button mat-icon-button color="warn" (click)="editNameCancel(); $event.stopPropagation()"><mat-icon>close</mat-icon></button>
  </div>
</ng-template>