@import '~@angular/material/theming';

.item__tile {
  @include mat-elevation-transition;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  position: relative;

  &:hover {
    @include mat-elevation(8);
  }
}

// .item__add {
//   @extend .item__tile;
//   background-color: transparent;
//   border: 2px dotted white;
//   height: calc(100% - 4px);
//   width: calc(100% - 4px);
//   cursor: pointer;
//   display: flex !important;
//   justify-content: center;
//   align-items: center;

//   & mat-icon {
//     font-size: 36px;
//     height: 36px;
//     width: 36px;
//   }
// }