@import '~@angular/material/theming';

.item__tile {
  @include mat-elevation-transition;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  position: relative;

  &:hover {
    @include mat-elevation(8);
  }
}
