$small: 4px;
$medium: 8px;
$large: 16px;
$xlarge: 32px;

// Padding Utilities
.pas {
  padding: $small;
}

.pam {
  padding: $medium;
}

.pal {
  padding: $large;
}

.paxl {
  padding: $xlarge;
}

.pvs {
  padding-top: $small;
  padding-bottom: $small;
}

.pvm {
  padding-top: $medium;
  padding-bottom: $medium;
}

.pvl {
  padding-top: $large;
  padding-bottom: $large;
}

.pvxl {
  padding-top: $xlarge;
  padding-bottom: $xlarge;
}

.phs {
  padding-left: $small;
  padding-right: $small;
}

.phm {
  padding-left: $medium;
  padding-right: $medium;
}

.phl {
  padding-left: $large;
  padding-right: $large;
}

.phxl {
  padding-left: $xlarge;
  padding-right: $xlarge;
}

.pts {
  padding-top: $small;
}

.ptm {
  padding-top: $medium;
}

.ptl {
  padding-top: $large;
}

.ptxl {
  padding-top: $xlarge;
}

.pbs {
  padding-bottom: $small;
}

.pbm {
  padding-bottom: $medium;
}

.pbl {
  padding-bottom: $large;
}

.pbxl {
  padding-bottom: $xlarge;
}

.pls {
  padding-left: $small;
}

.plm {
  padding-left: $medium;
}

.pll {
  padding-left: $large;
}

.plxl {
  padding-left: $xlarge;
}

.prs {
  padding-right: $small;
}

.prm {
  padding-right: $medium;
}

.prl {
  padding-right: $large;
}

.prxl {
  padding-right: $xlarge;
}

// Margin Utilities
.mas {
  margin: $small;
}

.mam {
  margin: $medium;
}

.mal {
  margin: $large;
}

.maxl {
  margin: $xlarge;
}

.mvs {
  margin-top: $small;
  margin-bottom: $small;
}

.mvm {
  margin-top: $medium;
  margin-bottom: $medium;
}

.mvl {
  margin-top: $large;
  margin-bottom: $large;
}

.mvxl {
  margin-top: $xlarge;
  margin-bottom: $xlarge;
}

.mhs {
  margin-left: $small;
  margin-right: $small;
}

.mhm {
  margin-left: $medium;
  margin-right: $medium;
}

.mhl {
  margin-left: $large;
  margin-right: $large;
}

.mhxl {
  margin-left: $xlarge;
  margin-right: $xlarge;
}

.mts {
  margin-top: $small;
}

.mtm {
  margin-top: $medium;
}

.mtl {
  margin-top: $large;
}

.mtxl {
  margin-top: $xlarge;
}

.mbs {
  margin-bottom: $small;
}

.mbm {
  margin-bottom: $medium;
}

.mbl {
  margin-bottom: $large;
}

.mbxl {
  margin-bottom: $xlarge;
}

.mls {
  margin-left: $small;
}

.mlm {
  margin-left: $medium;
}

.mll {
  margin-left: $large;
}

.mlxl {
  margin-left: $xlarge;
}

.mrs {
  margin-right: $small;
}

.mrm {
  margin-right: $medium;
}

.mrl {
  margin-right: $large;
}

.mrxl {
  margin-right: $xlarge;
}

// Width utilities

.width-100 {
  width: 100%;
}

// Flex Utilities
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

// UX Utilities
.non-actionable {
  cursor: unset !important;
}

.actionable {
  cursor: pointer !important;
}

.columns-2 {
  columns: 2;
}

// Color Utilities
.red {
  color: #f44336;
}

.white {
  color: #FFFFFF;
}

.accent {
  color: #b2ff59;
}

.primary {
  color: #673ab7;
}

.warn {
  color: #f44336;
}

// Text Utilities
.italic {
  font-style: italic;
}

.inactive-text {
  color: rgba(255, 255, 255, 0.5);
}

.label-text {
  font-size: 80%;
  color: rgba(255, 255, 255, 0.6);
}
