<div class="section-container">
  <div class="section">
    <ng-container *ngIf="!!selectedSection">
      <section-button 
      *ngFor="let section of sections"
      [section]="section"
      (click)="selectSection(section)"
      [ngClass]="{'selected': selectedSection.name === section.name}"
      ></section-button>
    </ng-container>
  </div>
  <div class="subsection">
    <ng-container *ngIf="!!selectedSection?.subsections?.length">
      <section-button
        *ngFor="let subsection of selectedSection.subsections; let index = index"
        [section]="subsection"
        (sectionSelected)="selectSection(selectedSection, index)"
        [ngClass]="{'selected': selectedSubsection.name === subsection.name}"
      ></section-button>
    </ng-container>
  </div>
</div>
