.inputTable {
  max-width: 740px;

  & table {
    border-collapse: collapse;
    
    & th {
      width: 175px;
      text-align: center;
    }
  
    & input {
      font: 400 16px 'Roboto';
      appearance: none;
      border: none;
      text-align: right;
      padding: 4px;
  
      &:focus {
        outline: none;
      }
    }
  
    & .row-clear-button {
      color: #C4C4C4;
      height: 27px;
      width: 27px;
      line-height: 25px;
      transition: color 0.15s linear;
  
      &:hover {
        color: #f44336;
        transition: color 0.15s linear;
      }
  
      & .mat-icon {
        line-height: 25px;
        font-size: 19px;
      }
    }
  }
}

.inputTable__buttons {
  padding-bottom: 1.34375em;
  margin-bottom: 3.5px;
}