@import '~@angular/material/theming';

.itemAddButton {
  @include mat-elevation-transition;
  height: 52px;
  width: calc(100% - 4px);
  border-radius: 8px;
  border: 2px dotted white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  & mat-icon {
    font-size: 36px;
    height: 36px;
    width: 36px;
  }

  &:hover {
    @include mat-elevation(8);  
  }
}