<div class="paxl">
  <h2 class="flex-between">
    <span>Entities</span>
    <button mat-raised-button color="primary" (click)="addEntity()">
      <mat-icon>add</mat-icon>
      <span class="mls">Add Entity</span>
    </button>
  </h2>
  <div *ngFor="let entity of entities$ | async" class="mbxl">
    <item-tile 
      [item]="entity"
      panelClass="mbm"
      [showAddButton]="true"
      (addItem)="addObject(entity.id)"
      (nameChange)="updateEntityName($event, entity.id)"
      (duplicate)="duplicateEntity($event)"
      (delete)="deleteEntity($event)"
    ></item-tile>
    <div *ngIf="fetchObjectsForEntity(entity.id) | async as objects" class="mlxl">
      <div *ngFor="let obj of objects">
        <item-tile 
          [item]="obj"
          panelClass="mbm"
          (nameChange)="updateObjectName($event, obj.id)"
          (duplicate)="duplicateObject($event)"
          (delete)="deleteObject($event)"
          (itemSelected)="goToObject(obj)"
        ></item-tile>
      </div>
    </div>
  </div>
</div>
