<ng-container *ngIf="form">
  <div class="phl" [formGroup]="form">
    <div class="flex">
      <div class="body-column">
        <h1>Aerodynamics Body-Fixed Settings</h1>

        <!-- Coefficient buttons -->
        <div class="mbxl">
          <toggle-button-group [subgroups]="bodySubgroups" (selectionMade)="coefficientSelected($event)"></toggle-button-group>
        </div>

        <!-- Table -->
        <ng-container *ngIf="selectedCoefficient">
          <coefficient-table [form]="form.get(selectedCoefficient)"></coefficient-table>
        </ng-container>
       
       
      </div>  
    </div>
  </div>
</ng-container>