@import '~@angular/material/theming';

.env__tile {
  @include mat-elevation-transition;
  // background-color: #646464;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;

  &:hover {
    @include mat-elevation(8);
  }
}

.env__add {
  @extend .env__tile;
  background-color: transparent;
  border: 2px dotted white;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  cursor: pointer;
  display: flex !important;
  justify-content: center;
  align-items: center;

  & mat-icon {
    font-size: 36px;
    height: 36px;
    width: 36px;
  }
}
