<div class="paxl">
  <h2>Environments</h2>
  <mat-grid-list cols="1" gutterSize="16" rowHeight="56" class="item">
      <mat-grid-tile *ngFor="let env of environments$ | async" class="item__tile" [ngClass]="{'selected': selectedEnvId === env.id}">
        <item-tile
          matRipple
          [item]="env"
          (nameChange)="updateName(env.id, $event)"
          (duplicate)="duplicateEnv($event)"
          (delete)="deleteEnv($event)"
          (itemSelected)="goToEnv($event)"
        ></item-tile>
      </mat-grid-tile>

    <mat-grid-tile class="item__add" (click)="addEnvironment()">
      <mat-icon>add</mat-icon>
    </mat-grid-tile>
  </mat-grid-list>
</div>