<div class="paxl">
  <h2 class="flex-between align-center fan__tabHeader">
    <span>Environments</span>
    <button mat-raised-button color="primary" (click)="addEnvironment()">
      <mat-icon>add</mat-icon>
      <span class="mls">Add Environment</span>
    </button>
  </h2>
  <div *ngFor="let env of environments$ | async" class="item__tile mbxl">
    <item-tile 
      [item]="env"
      [selected]="selectedEnvId === env.id"
      (nameChange)="updateName(env.id, $event)"
      (duplicate)="duplicateEnv($event)"
      (delete)="deleteEnv($event)"
      (itemSelected)="goToEnv($event)"
    ></item-tile>
  </div>
</div>