<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened disableClose>
    <mat-tab-group (selectedTabChange)="navigateToTabPage($event)">
      <mat-tab label="Simulation">
        <simulation-tab></simulation-tab>
      </mat-tab>
      <mat-tab label="Environment">
        <environment-tab (envSelected)="setItem($event)"></environment-tab>
      </mat-tab>
      <mat-tab label="Entities">
        <entities-tab (objectSelected)="setItem($event)"></entities-tab>
      </mat-tab>
    </mat-tab-group>
    <div class="version">FANTOM GUI v{{version}}</div>
  </mat-sidenav>
  <mat-sidenav-content>
    <page-header [sections]="sections" (sectionSelected)="navigateToSection($event)"></page-header>
    <div class="pal">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>