<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <mat-tab-group (selectedTabChange)="navigateToTabPage($event)">
      <mat-tab label="Simulation">
        <simulation-tab></simulation-tab>
      </mat-tab>
      <mat-tab label="Environment">
        <environment-tab></environment-tab>
      </mat-tab>
      <mat-tab label="Entities">
        <entities-tab></entities-tab>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <div class="pal">
      <router-outlet name="page"></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>