<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened>
    <mat-tab-group>
      <mat-tab label="Simulation">
        <simulation-tab></simulation-tab>
      </mat-tab>
      <mat-tab label="Environment">
        <environment-tab></environment-tab>
      </mat-tab>
      <mat-tab label="Entities">
        <entities-tab></entities-tab>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav>
  <mat-sidenav-content>
    <button mat-raised-button color="accent">Click Me</button>
  </mat-sidenav-content>
</mat-sidenav-container>