<ng-container *ngIf="!!propSource" [formGroup]="propSource">
  <div class="flex">
    <div class="mrxl">
      <h2>Position</h2>
      <div class="mbxl">Propulsion source location in body coordinate frame</div>
      <!-- X Position -->
      <div>
        <mat-form-field color="accent" class="fan__input">
          <mat-label>X</mat-label>
          <input matInput formControlName="position_x" />
          <span matSuffix>m</span>
        </mat-form-field>
      </div>
      <!-- Y Position -->
      <div>
        <mat-form-field color="accent" class="fan__input">
          <mat-label>Y</mat-label>
          <input matInput formControlName="position_y" />
          <span matSuffix>m</span>
        </mat-form-field>
      </div>
      <!-- Z Position -->
      <div>
        <mat-form-field color="accent" class="fan__input">
          <mat-label>Z</mat-label>
          <input matInput formControlName="position_z" />
          <span matSuffix>m</span>
        </mat-form-field>
      </div>
    </div>

    <div>
      <h2>Orientation</h2>
      <div class="mbxl">Propulsion source orientation relative to body coordinate frame</div>
      <!-- Roll -->
      <div>
        <mat-form-field color="accent" class="fan__input">
          <mat-label>Roll</mat-label>
          <input matInput formControlName="orientation_roll" />
          <span matSuffix>deg</span>
        </mat-form-field>
      </div>
      <!-- Pitch -->
      <div>
        <mat-form-field color="accent" class="fan__input">
          <mat-label>Pitch</mat-label>
          <input matInput formControlName="orientation_pitch" />
          <span matSuffix>deg</span>
        </mat-form-field>
      </div>
      <!-- Yaw -->
      <div class="mbxl">
        <mat-form-field color="accent" class="fan__input">
          <mat-label>Yaw</mat-label>
          <input matInput formControlName="orientation_yaw" />
          <span matSuffix>deg</span>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- Nozzle Exit Area -->
  <div class="mbl">
    <mat-form-field color="accent" class="fan__input">
      <mat-label>Nozzle Exit Area</mat-label>
      <input matInput formControlName="nozzle_exit_area" />
      <span matSuffix>m^2</span>
    </mat-form-field>
  </div>

  <div class="fan__divider mbxl"></div>

  <!-- Propulsion Mode -->
  <div class="mbxl">
    <mat-form-field color="accent" class="fan__input">
      <mat-label>Propulsion Mode</mat-label>
      <mat-select
        formControlName="mode"
        name="mode"
        placeholder="Select Mode"
        >
        <mat-option *ngFor="let option of propulsionModeOptions" [value]="option.value">
          {{option.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <ng-container *ngIf="propSource.get('mode').value !== 0">
    <div class="flex">
      <div class="mrxl">  
        <!-- Table 1 -->
        <prop-source-table 
          [columns]="[{ 
            variable: 'value_1',
            headerName: tableDeps['dep_1']
          }]"
          depName="Time [sec]"
          [rows]="propSource.get('table_1')"
        ></prop-source-table>
      </div>

      <div>
        <!-- Table 2 -->
        <prop-source-table 
          [columns]="[{ 
            variable: 'value_2',
            headerName: tableDeps['dep_2']
          }]"
          depName="Time [sec]"
          [rows]="propSource.get('table_2')"
        ></prop-source-table>
      </div>
    </div>
  </ng-container>

</ng-container>
