<div class="paxl" [formGroup]="simForm">
  <div class="mbxl">
    <mat-form-field color="accent" class="width-100">
      <mat-label>Simulation Name</mat-label>
      <input matInput [formControlName]="fields.SimName"/>
      <mat-hint>Enter a name for this simulation.</mat-hint>
    </mat-form-field>
  </div>

  <div class="mbxl">
    <mat-form-field color="accent" class="width-100">
      <mat-label>Max Simulation Time</mat-label>
      <input matInput placeholder="Enter max simulation time" [formControlName]="fields.MaxSimTime"/>
      <span matSuffix>seconds</span>
      <mat-hint>Simulation will terminate at specified time.</mat-hint>
    </mat-form-field>
  </div>

  <div class="flex mbxl">
    <span>
      <button mat-raised-button color="primary" (click)="openImportModal()">
        <mat-icon>file_upload</mat-icon>
        <span class="mls">Import XML</span>
      </button>
    </span>
    <span class="mll">
      <button mat-raised-button color="primary" (click)="onExportClick()">
        <mat-icon>file_download</mat-icon>
        <span class="mls">Export XML</span>
      </button>
    </span>
  </div>

  <div>
    <sim-exec></sim-exec>
  </div>
</div>
