<div class="paxl" [formGroup]="simForm">
  <div class="mbxl">
    <mat-form-field color="accent" class="width-100">
      <mat-label>Simulation Name</mat-label>
      <input matInput [formControlName]="fields.SimName"/>
      <mat-hint>Enter a name for this simulation.</mat-hint>
    </mat-form-field>
  </div>

  <div class="mbxl">
    <mat-form-field color="accent" class="width-100">
      <mat-label>Max Simulation Time</mat-label>
      <input matInput placeholder="Enter max simulation time" [formControlName]="fields.MaxSimTime"/>
      <span matSuffix>seconds</span>
      <mat-hint>Simulation will terminate at specified time.</mat-hint>
    </mat-form-field>
  </div>

  <div class="flex">
    <span>
      <import-button></import-button>
    </span>
    <span class="mll">
      <export-button></export-button>
    </span>
  </div>
</div>